* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  color: white;
}
p {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}
.name {
  position: sticky;
  top: 0;
  background-color: black;
}
header {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7.5vh;
}

#logo {
  height: 90%;
}
nav {
  height: 100%;
  display: flex;
  align-items: center;
}
#menu_btn {
  background-image: linear-gradient(to right, beige, lightblue);
  height: 80%;
  width: 40%;
  min-width: 80px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu_btn:focus {
  outline: 2px solid blue;
  border-radius: 5px;
}

main {
  display: flex;
  max-height: 67.5vh;
  overflow-y: scroll;
}
#round,
#call {
  height: 100%;
  min-height: 67.5vh;
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
}
#call {
  border-left: 1px solid white;
  width: 10%;
}

#call_action {
  height: 10vh;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.player,
.action {
  border-left: 1px solid white;
  height: 100%;

  width: 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 0;
}
.player {
  min-height: 67.5vh;
  padding: 10px 0;
  font-size: 1.2rem;
}

.modal_name_hide,
.modal_score_hide,
.modal_win_hide,
.modal_menu_hide,
.modal_cash_hide,
.modal_rank_hide {
  display: none;
}
.modal_name_show,
.modal_score_show,
.modal_win_show,
.modal_menu_show,
.modal_cash_show,
.modal_rank_show {
  display: block;
  background-color: black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid blue;
  height: 40%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal_menu_show {
  height: 60%;
}
form {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#input_name,
#input_score,
#money_input {
  height: 20%;
  min-width: 50px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#name_btn,
#choose_btn,
#money_btn {
  background-image: linear-gradient(to right, beige, lightblue);
  height: 30%;
  min-width: 50px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#btn_call {
  background-image: linear-gradient(to right, beige, lightblue);
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 85%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn_call p {
  /* text-orientation: upright; */
  writing-mode: vertical-rl;
  font-weight: bolder;
  font-size: 1rem;
}
footer {
  height: 17.5vh;
  display: flex;
  flex-direction: column;
}
#upbar {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  height: 10vh;
}
#downbar {
  display: flex;
  height: 7.5vh;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  padding: 10px 0;
  width: 100%;
}

.role {
  background-image: linear-gradient(to right, beige, lightblue);
  height: 70%;
  min-width: 60px;
  border-radius: 5px;
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#score_btn {
  background-image: linear-gradient(to right, beige, lightblue);
  height: 95%;
  min-width: 40%;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#check {
  color: white;
}

.caller {
  background-image: linear-gradient(to right, beige, red);
}
.called {
  background-image: linear-gradient(to right, beige, orange);
}

#caller_win,
#trio_win {
  background-image: linear-gradient(to right, beige, lightblue);
  height: 20%;
  width: 70%;
  min-width: 50px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}
.modal_menu_show form {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#new_match,
#reset_round {
  background-image: linear-gradient(to right, beige, lightblue);
  height: 40%;
  width: 70%;
  min-width: 50px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}
#cash_point,
#ranking {
  background-image: linear-gradient(to right, beige, lightblue);
  height: 10%;
  width: 70%;
  min-width: 50px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}
.your_turn {
  color: blue;
}

#ok_menu,
#ok_rank {
  background-image: linear-gradient(to right, beige, lightblue);
  height: 10%;
  width: 50%;
  min-width: 50px;
  min-height: 40px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}

#ordered_rank {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
}
